.metadata/**
.recommenders/**
.settings/**
bin/**
temp/**
target/**
plugins/**
*.psd
*.dtd
*.sh
*.bat
*.lnk

.checkstyle
.classpath
.project
links.txt
rclog.txt
rc_*
rc-config/
maven.build.log

# IntelliJ IDEA Project stuff
.idea/
out/
*.iws
*.iml
*___jb_*___
/target/
/bin/

src/main/resources/icons/old/**
**/CurrentTest.java