.metadata/**
.recommenders/**
.settings/**
bin/**
temp/**
target/**
plugins/**

*.class
*.dtd
*.sh
*.bat
*.lnk

.classpath
.project
rclog.txt
rcagent.json
rcasm.json
rcblocks.json
rcinterface.json
rcstyle.json
