.metadata/**
.recommenders/**
.settings/**
bin/**
temp/**
target/**
plugins/**
**/psd/**
*.class
*.dtd
*.sh
*.bat
*.lnk

.classpath
.project
links.txt
rclog.txt
rc_*

# IntelliJ IDEA Project stuff
.idea/
out/
*.iws
*.iml
*___jb_*___
/target/
