language: java

matrix:
  include:
    - os: linux
      dist: trusty
      jdk: oraclejdk8

# enable Java 8u45+, see https://github.com/travis-ci/travis-ci/issues/4042
addons:
  apt:
    packages:
      - oracle-java8-installer

# run in container
sudo: false

# use framebuffer for UI
before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install: true
script: mvn clean package
notifications:
    email: false