<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
		"-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
		"https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name = "Checker">
	<property name="charset" value="UTF-8"/>
	<property name="severity" value="warning"/>
	<property name="fileExtensions" value="java"/>
	<property name="tabWidth" value="4"/>
	<module name="TreeWalker">
		<module name="SuppressionCommentFilter"/>
		<module name="OuterTypeFilename"/>
		<module name="EmptyBlock">
			<property name="option" value="TEXT"/>
			<property name="tokens"
					  value="LITERAL_TRY, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE, LITERAL_SWITCH"/>
		</module>
		<module name="ArrayTypeStyle"/>
		<module name="MissingSwitchDefault"/>
		<!-- <module name="FallThrough"/> -->
		<module name="ModifierOrder"/>
		<module name="EmptyLineSeparator">
			<property name="allowNoEmptyLineBetweenFields" value="true"/>
		</module>
		<module name="SeparatorWrap">
			<property name="id" value="SeparatorWrapDot"/>
			<property name="tokens" value="DOT"/>
			<property name="option" value="nl"/>
		</module>
		<module name="SeparatorWrap">
			<property name="id" value="SeparatorWrapComma"/>
			<property name="tokens" value="COMMA"/>
			<property name="option" value="EOL"/>
		</module>
		<module name="SeparatorWrap">
			<!-- ELLIPSIS is EOL until https://github.com/google/styleguide/issues/258 -->
			<property name="id" value="SeparatorWrapEllipsis"/>
			<property name="tokens" value="ELLIPSIS"/>
			<property name="option" value="EOL"/>
		</module>
		<module name="SeparatorWrap">
			<!-- ARRAY_DECLARATOR is EOL until https://github.com/google/styleguide/issues/259 -->
			<property name="id" value="SeparatorWrapArrayDeclarator"/>
			<property name="tokens" value="ARRAY_DECLARATOR"/>
			<property name="option" value="EOL"/>
		</module>
		<module name="SeparatorWrap">
			<property name="id" value="SeparatorWrapMethodRef"/>
			<property name="tokens" value="METHOD_REF"/>
			<property name="option" value="nl"/>
		</module>
		<module name="PackageName">
			<property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
			<message key="name.invalidPattern"
					 value="Package name ''{0}'' must match pattern ''{1}''."/>
		</module>
		<module name="TypeName">
			<message key="name.invalidPattern"
					 value="Type name ''{0}'' must match pattern ''{1}''."/>
		</module>
		<module name="MemberName">
			<property name="format" value="^[a-z][a-z0-9]?[a-zA-Z0-9]*$"/>
			<message key="name.invalidPattern"
					 value="Member name ''{0}'' must match pattern ''{1}''."/>
		</module>
		<module name="ParameterName">
			<property name="format" value="^[a-z]([a-z0-9]?[a-zA-Z0-9]*)?$"/>
			<message key="name.invalidPattern"
					 value="Parameter name ''{0}'' must match pattern ''{1}''."/>
		</module>
		<module name="LambdaParameterName">
			<property name="format" value="^[a-z]([a-z0-9]?[a-zA-Z0-9]*)?$"/>
			<message key="name.invalidPattern"
					 value="Lambda parameter name ''{0}'' must match pattern ''{1}''."/>
		</module>
		<module name="CatchParameterName">
			<property name="format" value="^[a-z]([a-z0-9]?[a-zA-Z0-9]*)?$"/>
			<message key="name.invalidPattern"
					 value="Catch parameter name ''{0}'' must match pattern ''{1}''."/>
		</module>
		<module name="LocalVariableName">
			<property name="tokens" value="VARIABLE_DEF"/>
			<property name="format" value="^[a-z]([a-z0-9]?[a-zA-Z0-9]*)?$"/>
			<message key="name.invalidPattern"
					 value="Local variable name ''{0}'' must match pattern ''{1}''."/>
		</module>
		<module name="ClassTypeParameterName">
			<property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*$)"/>
			<message key="name.invalidPattern"
					 value="Class type name ''{0}'' must match pattern ''{1}''."/>
		</module>
		<module name="MethodTypeParameterName">
			<property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
			<message key="name.invalidPattern"
					 value="Method type name ''{0}'' must match pattern ''{1}''."/>
		</module>
		<module name="InterfaceTypeParameterName">
			<property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
			<message key="name.invalidPattern"
					 value="Interface type name ''{0}'' must match pattern ''{1}''."/>
		</module>
		<module name="NoFinalizer"/>
		<module name="Indentation">
			<property name="basicOffset" value="4"/>
			<property name="braceAdjustment" value="0"/>
			<property name="caseIndent" value="4"/>
			<property name="throwsIndent" value="4"/>
			<property name="lineWrappingIndentation" value="4"/>
			<property name="arrayInitIndent" value="4"/>
		</module>
		<module name="OverloadMethodsDeclarationOrder"/>
		<module name="MethodParamPad"/>
		<module name="NoWhitespaceBefore">
			<property name="tokens"
					  value="COMMA, SEMI, POST_INC, POST_DEC, DOT, ELLIPSIS, METHOD_REF"/>
			<property name="allowLineBreaks" value="true"/>
		</module>
		<module name="ParenPad"/>
		<module name="AnnotationLocation">
			<property name="id" value="AnnotationLocationMostCases"/>
			<property name="tokens"
					  value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF"/>
		</module>
		<module name="AnnotationLocation">
			<property name="id" value="AnnotationLocationVariables"/>
			<property name="tokens" value="VARIABLE_DEF"/>
			<property name="allowSamelineMultipleAnnotations" value="true"/>
		</module>
		<module name="NonEmptyAtclauseDescription"/>
		<module name="AtclauseOrder">
			<property name="tagOrder" value="@param, @return, @throws, @deprecated"/>
			<property name="target"
					  value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF, VARIABLE_DEF"/>
		</module>
		<module name="InvalidJavadocPosition"/>
		<module name="JavadocBlockTagLocation"/>
		<module name="JavadocContentLocationCheck"/>
		<module name="JavadocParagraph"/>
		<module name="JavadocType"/>
		<module name="SingleLineJavadoc">
			<property name="ignoreInlineTags" value="false"/>
		</module>
		<module name="JavadocMethod">
			<property name="scope" value="public"/>
			<property name="validateThrows" value="false"/>
			<property name="allowedAnnotations" value="Override, Test"/>
		</module>
		<module name="MissingJavadocMethod"/>
		<module name="MissingJavadocType"/>
		<!-- <module name="MissingJavadocMethod">
			<property name="scope" value="private"/>
			<property name="minLineCount" value="1"/>
			<property name="allowedAnnotations" value="Override, Test"/>
		</module> -->
		<module name="MethodName">
			<property name="format" value="^[a-z][a-z0-9][a-zA-Z0-9_]*$"/>
			<message key="name.invalidPattern"
					 value="Method name ''{0}'' must match pattern ''{1}''."/>
		</module>
		<module name="EmptyCatchBlock">
			<property name="exceptionVariableName" value="expected"/>
		</module>
		<module name="CommentsIndentation"/>
		<!-- Code complexity -->
		<module name="BooleanExpressionComplexity"/>
		<module name="ClassDataAbstractionCoupling">
			<!-- Number of instantiations -->
			<property name="max" value="8"/>
			<!-- Sets of excluded classes based on general use case -->
			<property name="excludedClasses" value="boolean, byte, char, double, float, int, long, short, void"/>
			<property name="excludedClasses" value="Boolean, Byte, Character, Double, Float, Integer, Long, Short, Void"/>
			<property name="excludedClasses" value="Object, Class, String, StringBuffer, StringBuilder"/>
			<property name="excludedClasses" value="ArrayIndexOutOfBoundsException, Exception, RuntimeException, IllegalArgumentException, IllegalStateException, IndexOutOfBoundsException, NullPointerException, Throwable, SecurityException, UnsupportedOperationException"/>
			<property name="excludedClasses" value="List, ArrayList, Deque, Queue, LinkedList, Set, HashSet, SortedSet, TreeSet, Map, HashMap, SortedMap, TreeMap, Pair"/>
			<property name="excludedClasses" value="File, FileUtils, Path, Paths, URL"/>
			<property name="excludedClasses" value="ClassReader, ClassWriter, ClassVisitor, Opcodes"/>
			<property name="excludedClasses" value="ActionMenu, ActionMenuItem, IconView, BorderPane, ListView, Label, TextField"/>
			<property name="excludedPackages" value="javafx.scene, javafx.scene.control, javafx.scene.layout, javafx.stage, javafx.application"/>
		</module>
		<module name="ClassFanOutComplexity">
			<!-- Number of type references -->
			<property name="max" value="20"/>
			<!-- Sets of excluded classes based on general use case -->
			<property name="excludedClasses" value="boolean, byte, char, double, float, int, long, short, void"/>
			<property name="excludedClasses" value="Boolean, Byte, Character, Double, Float, Integer, Long, Short, Void"/>
			<property name="excludedClasses" value="Object, Class, String, StringBuffer, StringBuilder"/>
			<property name="excludedClasses" value="ArrayIndexOutOfBoundsException, Exception, RuntimeException, IllegalArgumentException, IllegalStateException, IndexOutOfBoundsException, NullPointerException, Throwable, SecurityException, UnsupportedOperationException"/>
			<property name="excludedClasses" value="List, ArrayList, Deque, Queue, LinkedList, Set, HashSet, SortedSet, TreeSet, Map, HashMap, SortedMap, TreeMap"/>
			<property name="excludedClasses" value="File, FileUtils, Path, Paths, URL"/>
			<property name="excludedClasses" value="ActionMenu, ActionMenuItem, IconView"/>
			<property name="excludedPackages" value="javafx.scene, javafx.scene.control, javafx.scene.layout, javafx.stage, javafx.application, javafx.scene.input"/>
			<!-- JavaParser is so overly-verbose with its types that its impossible to use it without flagging CFOC without a filter like this -->
			<property name="excludedPackages" value="com.github.javaparser, com.github.javaparser.ast, com.github.javaparser.ast.body, com.github.javaparser.ast.type"/>
			<property name="excludedPackages" value="com.github.javaparser.resolution, com.github.javaparser.resolution.declarations, com.github.javaparser.resolution.types"/>
			<!-- Same situation with the AST parsing -->
			<property name="excludedPackages" value="me.coley.recaf.parse.bytecode.ast, me.coley.recaf.parse.bytecode.parser"/>
		</module>
		<module name="CyclomaticComplexity">
			<!-- Number of possible paths through the source -->
			<property name="max" value="15"/>
		</module>
		<module name="OneStatementPerLine"/>
		<module name="OneTopLevelClass"/>
		<module name="UnusedImports"/>
	</module>
	<module name="LineLength">
		<property name="max" value="120"/>
		<property name="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://|ftp://"/>
	</module>
	<module name="FileLength">
		<property name="max" value="1500"/>
	</module>
</module>
