.root {
    -fx-base: rgb(49, 54, 59);
}

/* =========================
 * ==        Menu         ==
 * =========================
 */
 /* Menu-bar at the top of the window */
.ui-menu-bar {
	-fx-background-color: rgb(49, 54, 59);
}
.ui-menu-bar *.context-menu {
	-fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
	-fx-background-color: rgb(41,46, 50);
	-fx-border-color: rgb(29, 32, 35);
	-fx-border-width: 1;
	-fx-padding: 0;
}
.ui-menu-bar *.menu-item,
.ui-menu-bar *.menu {
	-fx-padding: 5 10 5 10;
	-fx-font-size: 15;
	-fx-selection-bar: rgba(0,0,0,0);
}
.ui-menu-bar .menu:hover *.label:hover{
	-fx-text-fill: rgb(61, 174, 233);
	-fx-underline: true;
}
.ui-menu-bar .menu-item:hover > .label,
.ui-menu-bar .menu:hover > .label {
	-fx-text-fill: rgb(61, 174, 233);
	-fx-underline: true;
}
.ui-menu-bar *.menu-item:focused,
.ui-menu-bar *.menu:focused {
	-fx-background-color: rgb(41,46, 50);
}
.ui-menu-bar *.menu-item:hover {
	-fx-background-color: rgb(51,56, 60);
}
.ui-menu-bar *.menu *.label,
.ui-menu-bar *.menu-item *.label  {
	-fx-text-fill: rgb(177, 194, 203);;
}
.ui-menu-bar *.menu-item:hover *.label {
	-fx-text-fill: rgb(33, 206, 244);
}
/* The optional tool-bar with image-buttons */
.ui-tool-bar {
	-fx-background-color:
		linear-gradient(rgb(49, 54, 59) 0%, rgb(41,46, 50) 50%, rgb(41,46, 50) 100%);
	-fx-padding: 6;
	-fx-border-width: 0;
}
/* The tool bar of the current class */
.menubar-class-name *.label {
	-fx-text-fill: white;
	-fx-font-size: 15;
}

/* =========================
 * ==     Scroll-bar      ==
 * =========================
 */
.scroll-bar {
	-fx-background-color: rgb(109, 116, 125);
}
.scroll-bar .track {
	-fx-background-color: rgb(109, 116, 125);
}
.scroll-bar .thumb {
	-fx-background-color: rgb(141, 150, 162);
	-fx-background-radius: 0;
}

/* =========================
 * ==       Button        ==
 * =========================
 */
.toolbutton {
	-fx-background-color:
		linear-gradient(rgb(48, 54, 60) 0%, rgb(38, 43, 47) 100%);
	-fx-border-color:
		linear-gradient(rgb(66, 72, 79) 0%, rgb(32, 35, 38) 50%, rgb(28, 31, 34) 100%);
	-fx-effect: dropshadow(three-pass-box,
		rgba(100,110,130,0.3),
		1, 0, 0, 1);
	-fx-border-radius: 2;
	-fx-content-display: center;
	-fx-font-size: 17;
	-fx-font-weight: bold;
	-fx-text-fill: black;
	-fx-text-overrun: clip;
	-fx-pref-width: 60;
	-fx-pref-height: 40;
	-fx-padding: 5;
}
.toolbutton:hover {
	-fx-background-color:
		linear-gradient(rgb(58, 64, 70) 0%, rgb(48, 53, 57) 100%);
	-fx-border-color:
		linear-gradient(rgb(61, 174, 233) 0%, rgb(31, 72, 95) 50%, rgb(17, 30, 36) 100%);
	-fx-effect: dropshadow(three-pass-box,
		rgba(120,140,180,0.3),
		1, 0, 0, 1);
}
.toolbutton .text {
    -fx-opacity: 0;
}
.toolbutton:hover .text {
	-fx-opacity: 1;
	-fx-translate-y: 9px;
}
.lblbutton {
	-fx-base: rgb(195, 205, 210);
	-fx-min-width: 65px;
	-fx-background-radius:0px;
	-fx-pref-height: 20px;
}

/* =========================
 * ==      Tree-View      ==
 * =========================
 */
.tree-view {
	-fx-background-color: rgb(36, 38, 43);
	-fx-focus-color: transparent;
}
.tree-cell {
	 -fx-background-color: rgb(27, 30, 33);
	 -fx-text-fill: rgb(177, 194, 203);
	 -fx-opacity: 0.75;
}
.tree-cell:selected {
	 -fx-background-color: rgb(34, 43, 52);
}
.tree-cell > .tree-disclosure-node > .arrow  {
   	-fx-background-color:
   		linear-gradient(rgb(82, 90, 99) 0%, rgb(55, 60, 66) 100%);
   	-fx-border-color:
   		linear-gradient(rgb(114, 120, 132) 0%, rgb(67, 73, 38) 50%, rgb(55, 60, 66) 100%);
   	-fx-effect: dropshadow(three-pass-box,
  		rgba(160,180,210,0.3),
		1, 1, -1, 1);
}

/* =========================
 * ==      Split-Pane     ==
 * =========================
 */
.split-pane {
	-fx-box-border: rgb(41, 46, 50);
	-fx-background-color: rgb(41, 46, 50);
	-fx-border-width: 0;
}
.split-pane:horizontal > .split-pane-divider {
	-fx-background-color:
		linear-gradient(to right, rgb(36, 38, 43) 0%, rgb(41, 46, 50) 100%);
	-fx-border-width: 0;
}
.split-pane:vertical > .split-pane-divider {
	-fx-background-color: rgb(49, 54, 59);
    -fx-border-width: 0;
}

/* =========================
 * ==       Tab-Pane      ==
 * =========================
 */
.tab-pane {
	-fx-base: rgb(41, 46, 50);
}
*.tab-header-background {
	-fx-background-color: rgb(41, 46, 50);
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {}
.tab-label {
	-fx-text-alignment: center;
}
/* Tabbed panes holding class-info. */
.tab-pane *.tab-pane {
	-fx-tab-min-width: 120;
}
.tab-pane *.tab-pane *.tab-header-area {
	-fx-padding: 0 5 0 5;
}
.tab-pane *.tab-pane *.tab-header-background {
	-fx-background-color: rgb(41, 46, 50);
}
.tab-pane *.menu-bar {
	-fx-background-color: rgb(56, 63, 71);
}
.segmented-bar {
	 -fx-background-color: rgb(153, 160, 170);
}

/* =========================
 * ==     Table-View      ==
 * =========================
 */
.table-view .filler,
.table-view .column-header {
	-fx-background-color: rgb(153, 160, 170);
}
.table-view .column-header {
	-fx-border-color: rgb(115, 122, 132);
	-fx-border-width: 0 1 0 0;
}
.table-view .column-resize-line {
	-fx-background-color: rgb(56, 63, 71);
}
/* =========================
 * ==        Misc         ==
 * =========================
 */
.verify-pass {}
.verify-fail {
	-fx-effect: innershadow(one-pass-box, red, 10, 0.6, 0, 0);
}
/* Hack to fix effect changing child hbox heights */
.verify-pass *.text-hbox,
.verify-fail *.text-hbox {
	 -fx-pref-height: 17;
}
/* =========================
 * ==      Pop-Over       ==
 * =========================
 */
.popover {
	-fx-base: rgb(200, 200, 200);
}
