/* nodes */
.styled-text-area {
	-fx-background-color: rgba(41, 49, 52, 255);
	-fx-accent: rgba(255, 97, 117, 255);
	-fx-fill: rgba(224, 226, 228, 255);
}
.paragraph-box {
	-fx-background-color: rgba(41, 49, 52, 255);
}
.paragraph-box:has-caret {
    -fx-background-color: rgba(53, 59, 61, 255);
}
.code-area {
	-fx-highlight-fill: rgba(44, 108, 131, 255);
	-rtfx-border-stroke-color: rgba(41, 159, 200, 255);
    -rtfx-border-stroke-width: 1px;
    -rtfx-border-stroke-type: inside;
}
.lineno {
	-fx-background-color: rgba(30, 37, 40, 255);
	-fx-fill: rgba(198, 217, 225, 255);
}
.caret {
	-fx-stroke: white;
}
/* decompiled code */
.code-area .text {
    -fx-fill: rgba(224, 226, 228, 255);
}
.code-area .keyword {
    -fx-fill: rgba(147, 187, 75, 255);
    -fx-font-weight: bold;
}
.code-area .semicolon {
    -fx-font-weight: bold;
}
.code-area .paren {
    -fx-fill: rgba(206, 222, 237, 255);
    -fx-font-weight: bold;
}
.code-area .bracket {
    -fx-fill: rgba(206, 222, 237, 255);
    -fx-font-weight: bold;
}
.code-area .brace {
    -fx-fill: rgba(206, 222, 237, 255);
    -fx-font-weight: bold;
}
.code-area .string {
    -fx-fill: rgba(236, 107, 34, 255);
}
.code-area .comment {
	-fx-fill: rgba(102, 116, 123, 255);
}