.root {
    -fx-base: rgb(125, 133, 144);
}

/* =========================
 * ==        Menu         ==
 * =========================
 */
 /* Menu-bar at the top of the window */
.ui-menu-bar {
	-fx-background-color: rgb(74, 82, 94);
}
.ui-menu-bar *.context-menu {
	-fx-background-color: rgb(74, 82, 94);
	-fx-border-color: rgb(43, 46, 51);
	-fx-border-width: 1;
	-fx-padding: 0;
}
.ui-menu-bar *.menu-item,
.ui-menu-bar *.menu {
	-fx-background-color: rgb(74, 82, 94);
	-fx-padding: 5 10 5 10;
	-fx-font-size: 15px;
}
.ui-menu-bar *.menu-item:hover,
.ui-menu-bar *.menu:hover {
	-fx-background-color: rgb(161, 171, 186);
	-fx-text-fill: black;
}
.ui-menu-bar *.label {
	-fx-text-fill: white;
}
/* The optional tool-bar with image-buttons */
.ui-tool-bar {
	-fx-background-color: rgb(55, 63, 71);
	-fx-padding: 0 1 1 0;
	-fx-border-color: rgb(43, 46, 51);
	-fx-border-width: 1 0 1 0;
}
.menubar-class-name *.label {
	-fx-text-fill: white;
	-fx-font-size: 15;
}
/* =========================
 * ==     Scroll-bar      ==
 * =========================
 */
.scroll-bar {
	-fx-background-color: rgb(109, 116, 125);
}
.scroll-bar .track {
	-fx-background-color: rgb(109, 116, 125);
}
.scroll-bar .thumb {
	-fx-background-color: rgb(141, 150, 162);
	-fx-background-radius: 0;
}
/* For FxCode implmentations, darker */
.fxcode *.scroll-bar {
	-fx-background-color: rgb(39, 44, 48);
}
.fxcode *.scroll-bar .track {
	-fx-background-color: rgb(33, 37, 40);
}
.fxcode *.scroll-bar .thumb {
	-fx-background-color: rgb(49, 54, 58);
}
/* =========================
 * ==       Button        ==
 * =========================
 */
.toolbutton {
	-fx-background-color: rgb(141, 150, 163);
	-fx-content-display: center;
	-fx-font-size: 17px;
	-fx-font-weight: bold;
	-fx-text-fill: black;
	-fx-text-overrun: clip;
	-fx-pref-width: 60px;
	-fx-pref-height: 40px;
	-fx-background-radius: 0;
	-fx-padding: 0;
}
.toolbutton:hover {
	-fx-background-color: rgb(198, 218, 239);
}
.toolbutton .text {
    -fx-opacity: 0;
}
.toolbutton:hover .text {
	-fx-opacity: 1;
	-fx-translate-y: 9px;
}
.lblbutton {
	-fx-base: rgb(195, 205, 210);
	-fx-min-width: 65px;
	-fx-background-radius:0px;
	-fx-pref-height: 20px;
}

/* =========================
 * ==      Tree-View      ==
 * =========================
 */
.tree-cell:selected {}
.tree-cell:even {
	 -fx-background-color: rgb(210, 215, 220);
}
.tree-cell:selected {
	 -fx-background-color: rgb(0, 150, 201);
}

/* =========================
 * ==      Split-Pane     ==
 * =========================
 */
.split-pane > .split-pane-divider {
	-fx-background-color: rgb(106, 113, 122);
	-fx-border-color: rgb(50, 53, 58);
	-fx-pref-width: 8;
}
.split-pane:horizontal > .split-pane-divider {
	-fx-background-insets: 0, 0 1 0 1;
	-fx-border-width: 0 1 0 1;
}
.split-pane:vertical > .split-pane-divider {
	-fx-background-insets: 0, 0 0 0 0;
	-fx-border-width: 0 0 1 0;
	-fx-pref-width: 8;
	-fx-background-color: transparent;
}
.split-pane > .split-pane-divider:hover {
	-fx-background-color: rgb(122, 130, 139);
}

/* =========================
 * ==       Tab-Pane      ==
 * =========================
 */
.tab-pane {}
*.tab-header-background {
	-fx-background-color: rgb(74, 82, 94);
}
.tab {
	-fx-background-radius: 0;
	-fx-border-width: 2 1 0 1;
}
.tab:selected {}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {}
.tab-label {
	-fx-text-alignment: center;
}
/* Tabbed panes holding class-info. */
.tab-pane *.tab-pane {
	-fx-tab-min-width: 120;
}
/* Logging pane */
.split-pane *.tab-pane {
	-fx-tab-min-width: 120;
}
.tab-pane *.tab-pane *.tab-header-area {
	-fx-padding: 0 5 0 5;
}
.tab-pane *.tab-pane *.tab-header-background {
	-fx-background-color: rgb(56, 63, 71);
}
.tab-pane *.menu-bar {
	-fx-background-color: rgb(56, 63, 71);
}
.segmented-bar {
	-fx-background-color: rgb(153, 160, 170);
}

/* =========================
 * ==     Table-View      ==
 * =========================
 */
.table-view .filler,
.table-view .column-header {
	-fx-background-color: rgb(153, 160, 170);
}
.table-view .column-header {
	-fx-border-color: rgb(115, 122, 132);
	-fx-border-width: 0 1 0 0;
}
.table-view .column-resize-line {
	-fx-background-color: rgb(56, 63, 71);
}
/* =========================
 * ==    Code-Controls    ==
 * =========================
 * For FxCode impls with
 * extra controls.
 */
.code-controls {
	-fx-background-color: rgb(56, 63, 71);
	-fx-border-color: rgb(36, 36, 38);
	-fx-padding: 4px;
}
.top {
	-fx-border-width: 0 0 3px 0;
}
.bottom {
	-fx-border-width: 3px 0 0 0;
}
.code-controls *.label {
	-fx-text-fill: white;
}
.code-controls *.text-field {
	-fx-text-fill: white;
	-fx-background-color: rgb(33, 37, 40);
	-fx-border-color: rgb(53, 59, 61);
	-fx-border-width: 2;
}
.code-controls *.button {
	-fx-text-fill: white;
	-fx-background-color: rgb(33, 37, 40);
	-fx-border-color: rgb(53, 59, 61);
	-fx-border-width: 2;
}
.code-controls *.button:hover {
	-fx-background-color: rgb(48, 55, 61);
	-fx-border-color: rgb(60, 69, 79);
	-fx-border-width: 2;
}
.code-controls *.check-box {
	-fx-text-fill: white;
}
.code-controls *.check-box *.box {
	-fx-background-color: rgb(33, 37, 40);
	-fx-border-color: rgb(53, 59, 61);
	-fx-border-width: 2;
}
.code-controls *.check-box:selected *.box *.mark {
	-fx-background-color: black;
	-fx-border-color: rgb(0, 229, 7);
	-fx-border-width: 2;
}
/* =========================
 * ==     About Panel     ==
 * =========================
 */
.about-panel *.label {
	-fx-font-size: 16px;
}
/* =========================
 * ==        Misc         ==
 * =========================
 */
.verify-pass {}
.verify-fail {
	-fx-effect: innershadow(one-pass-box, red, 10, 1, 0, 0);
}
/* Hack to fix effect changing child hbox heights */
.verify-pass *.text-hbox,
.verify-fail *.text-hbox {
	 -fx-pref-height: 17;
}
.cursor-pointer {
	-fx-cursor: hand;
}
.tooltip {
	-fx-font-family: 'sans-serif';
	-fx-font-size: 1em;
}
/* =========================
 * ==      Pop-Over       ==
 * =========================
 */
.popover {
	-fx-base: rgb(200, 200, 200);
}
