.root {
    -fx-base: rgb(17, 17, 17);
}

/* =========================
 * ==        Menu         ==
 * =========================
 */
 /* Menu-bar at the top of the window */
.ui-menu-bar {
	-fx-background-color: rgb(31, 31, 32);
}
.context-menu {
	-fx-background-color: rgb(41, 42, 43);
	-fx-border-color: rgb(31, 31, 32);
	-fx-border-width: 1;
	-fx-padding: 0;
}
.menu-item,
.menu {
	-fx-background-color: rgb(31, 31, 32);
	-fx-padding: 5 10 5 10;
	-fx-font-size: 15px;
}
.menu-item:hover,
.menu:hover {
	-fx-background-color: rgb(52, 55, 58);
	-fx-text-fill: white;
}
/* The optional tool-bar with image-buttons */
.ui-tool-bar {
	-fx-background-color: rgb(23, 24, 25);
	-fx-padding: 0 1 1 0;
	-fx-border-color: rgb(11, 11, 2);
	-fx-border-width: 1 0 1 0;
}
.menubar-class-name *.label {
	-fx-text-fill: white;
	-fx-font-size: 15;
}

/* =========================
 * ==     Scroll-bar      ==
 * =========================
 */
.scroll-bar {
	-fx-background-color: rgb(41, 42, 43);
}
.scroll-bar .track {
	-fx-background-color: rgb(41, 42, 43);
}
.scroll-bar .thumb {
	-fx-background-color: rgb(52, 52, 53);
	-fx-background-radius: 0;
}

/* =========================
 * ==       Button        ==
 * =========================
 */
.toolbutton {
	-fx-background-color: rgb(42, 43, 45);
	-fx-content-display: center;
	-fx-font-size: 17px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-text-overrun: clip;
	-fx-pref-width: 60px;
	-fx-pref-height: 40px;
	-fx-background-radius: 0;
	-fx-padding: 0;
}
.toolbutton:hover {
	-fx-background-color: rgb(58, 60, 62);
}
.toolbutton .text {
    -fx-opacity: 0;
}
.toolbutton:hover .text {
	-fx-opacity: 1;
	-fx-translate-y: 9px;
}
.lblbutton {
	-fx-base: rgb(30, 33, 39);
	-fx-min-width: 65px;
	-fx-background-radius:0px;
	-fx-pref-height: 20px;
}
/* =========================
 * ==    PropertySheet    ==
 * =========================
 */

.property-sheet .scroll-pane .property-pane {
    -fx-background-color: rgb(35, 35, 36);
}
.property-sheet .scroll-pane {
    -fx-background-color: rgb(35, 35, 36);
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.property-sheet .scroll-pane .accordion {
    -fx-padding: -1;
}
/* =========================
 * ==      Grid-View      ==
 * =========================
 */
.grid-view {
    -fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-insets: -1 -1 -1 -1;
	-fx-background-color: rgb(35, 35, 36);
}
.grid-cell:selected {}
.grid-cell {
	-fx-background-color: rgb(34, 34, 35);
	-fx-text-fill: white;
}
.grid-cell:even {
	-fx-background-color: rgb(35, 35, 36);
}
.grid-cell:selected {
	-fx-background-color: rgb(39, 39, 40);
}
/* =========================
 * ==      List-View      ==
 * =========================
 */
.list-view {
    -fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-insets: -1 -1 -1 -1;
	-fx-background-color: rgb(35, 35, 36);
}
.list-cell:selected {}
.list-cell {
	-fx-background-color: rgb(34, 34, 35);
	-fx-text-fill: white;
}
.list-cell:even {
	-fx-background-color: rgb(35, 35, 36);
}
.list-cell:selected {
	-fx-background-color: rgb(39, 39, 40);
}
/* =========================
 * ==      Tree-View      ==
 * =========================
 */
.tree-view {
    -fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-insets: -1 -1 -1 -1;
	-fx-background-color: rgb(45, 45, 46);
}
.tree-cell:selected {}
.tree-cell {
	-fx-background-color: rgb(44, 44, 45);
	-fx-text-fill: white;
}
.tree-cell:even {
	-fx-background-color: rgb(45, 45, 46);
}
.tree-cell:selected {
	-fx-background-color: rgb(49, 49, 50);
}
.tree-cell > .tree-disclosure-node > .arrow,
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: rgb(114, 118, 123);
}
/* =========================
 * ==      Combo-Box      ==
 * =========================
 */
.combo-box .list-cell:selected {}
.combo-box .list-cell {
	-fx-background-color: rgb(34, 34, 35);
	-fx-text-fill: white;
}
.combo-box .list-cell:even {
	-fx-background-color: rgb(35, 35, 36);
}
.combo-box .list-cell:selected {
	-fx-background-color: transparent;
}
.combo-box .list-cell:hover {
	-fx-background-color: rgb(41, 41, 42);
	-fx-text-fill: white;
}
/* =========================
 * ==      Split-Pane     ==
 * =========================
 */
.split-pane > .split-pane-divider {
	-fx-border-color: rgb(50, 53, 58);
	-fx-pref-width: 5;
}
.split-pane {
	-fx-background-color: rgb(15, 15, 16);
}
.split-pane:horizontal > .split-pane-divider {
	-fx-border-color: rgb(44, 44, 45);
	-fx-background-color: rgb(44, 44, 45);
	-fx-border-insets: 0 0 0 -1;
	-fx-border-width: 0 0 0 1;
}
.split-pane:vertical > .split-pane-divider {
	-fx-border-width: 0 0 1 0;
	-fx-border-color: rgb(15, 15, 16);
	-fx-pref-width: 5;
	-fx-background-color: rgb(30, 31, 32);
	-fx-background-insets: 0 0 0 2;	
}
.split-pane > .split-pane-divider:hover {
	-fx-background-color: rgb(42, 43, 45);
}
/* =========================
 * ==       Tab-Pane      ==
 * =========================
 */
.tab-pane {
	-fx-background-color: rgb(30, 31, 32);
	-fx-border-width: 0 0 0 2;
	-fx-border-color: rgb(15, 15, 16);
}
*.tab-header-background {
	-fx-background-color: rgb(30, 31, 32);
}
.tab {
	-fx-background-radius: 0;
	-fx-border-width: 2 1 0 1;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {}
.tab-label {
	-fx-text-alignment: center;
}
/* Tabbed panes holding class-info. */
.tab-pane *.tab-pane {
	-fx-tab-min-width: 120;
}
/* Logging pane */
.split-pane *.tab-pane {
	-fx-tab-min-width: 120;
}
.tab-pane *.tab-header-background {
	-fx-background-color: rgb(31, 31, 32);
}
.tab-pane *.tab {
	-fx-background-insets: 0 0 -2 0;
	-fx-border-width: 1 1 0 1;
	-fx-border-color: rgb(7, 7, 8);
	-fx-background-color: rgb(26, 26, 27);
}
.tab-pane *.tab:selected {
	-fx-background-color: rgb(35, 35, 36);
}
.tab-pane *.tab-pane *.tab-header-area {
	-fx-padding: 0 5 0 5;
}
/* Also applies to menubar-class-name */
.tab-pane *.tab-pane *.tab-header-background {
	-fx-background-color: rgb(22, 22, 23);
}
.tab-pane *.menu-bar {
	-fx-background-color: rgb(22, 22, 23);
}
.segmented-bar {
	 -fx-background-color: rgb(50, 51, 52);
}
.info-tabs *.tab-header-background {
	-fx-background-color: rgb(21, 21, 22);
}
/* =========================
 * ==     Table-View      ==
 * =========================
 */
.table-view .filler,
.table-view .column-header {
	-fx-background-color: rgb(35, 35, 36);
}
.table-view .column-header {
	-fx-border-color: rgb(22, 22, 23);
	-fx-border-width: 0 1 0 0;
}
.table-view .column-resize-line {
	-fx-background-color: rgb(21, 21, 22);
}
.table-row-cell {
	-fx-background-color: rgb(22, 22, 23);
}
.table-row-cell:odd {
	-fx-background-color: rgb(25, 25, 26);
}
/* =========================
 * ==     Text-field      ==
 * =========================
 */
.text-field {
	-fx-background-insets: 1;
    -fx-background-color: rgb(49, 49, 50);
    -fx-background-radius: 3;
    -fx-border-color: rgb(19, 19, 21);
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-text-fill: white;
}
/* =========================
 * ==    Code-Controls    ==
 * =========================
 * For FxCode impls with
 * extra controls.
 */
.code-controls {
	-fx-background-color: rgb(56, 63, 71);
	-fx-border-color: rgb(36, 36, 38);
	-fx-padding: 4px;
}
.top {
	-fx-border-width: 0 0 3px 0;
}
.bottom {
	-fx-border-width: 3px 0 0 0;
}
.code-controls *.label {
	-fx-text-fill: white;
}
.code-controls *.text-field {
	-fx-text-fill: white;
	-fx-background-color: rgb(33, 37, 40);
	-fx-border-color: rgb(53, 59, 61);
	-fx-border-width: 2;
}
.code-controls *.button {
	-fx-text-fill: white;
	-fx-background-color: rgb(33, 37, 40);
	-fx-border-color: rgb(53, 59, 61);
	-fx-border-width: 2;
}
.code-controls *.button:hover {
	-fx-background-color: rgb(48, 55, 61);
	-fx-border-color: rgb(60, 69, 79);
	-fx-border-width: 2;
}
.code-controls *.check-box {
	-fx-text-fill: white;
}
.code-controls *.check-box *.box {
	-fx-background-color: rgb(33, 37, 40);
	-fx-border-color: rgb(53, 59, 61);
	-fx-border-width: 2;
}
.code-controls *.check-box:selected *.box *.mark {
	-fx-background-color: black;
	-fx-border-color: rgb(0, 229, 7);
	-fx-border-width: 2;
}
/* =========================
 * ==     About Panel     ==
 * =========================
 */
.about-panel *.label {
	-fx-font-size: 16px;
}
/* =========================
 * ==        Misc         ==
 * =========================
 */
.verify-pass {}
.verify-fail {
	-fx-effect: innershadow(one-pass-box, red, 10, 1, 0, 0);
}
/* Hack to fix effect changing child hbox heights */
.verify-pass *.text-hbox,
.verify-fail *.text-hbox {
	 -fx-pref-height: 17;
}
.cursor-pointer {
	-fx-cursor: hand;
}
.tooltip {
	-fx-font-family: 'sans-serif';
	-fx-font-size: 1em;
}
/* Hack / dummy class to apply to nodes.
 * This forces them to re-render */
.recalc { }
/* =========================
 * ==      Pop-Over       ==
 * =========================
 */
.popover {
	-fx-base: rgb(17, 19, 20);
}
