/* =========================
 * ==     About Panel     ==
 * =========================
 */
.about-panel *.label {
	-fx-font-size: 16px;
}
/* =========================
 * ==        Misc         ==
 * =========================
 */
.verify-pass {}
.verify-fail {
	-fx-effect: innershadow(one-pass-box, red, 10, 1, 0, 0);
}
/* Hack to fix effect changing child hbox heights */
.verify-pass *.text-hbox,
.verify-fail *.text-hbox {
	 -fx-pref-height: 17;
}
.cursor-pointer {
	-fx-cursor: hand;
}
.tooltip {
	-fx-font-family: 'sans-serif';
	-fx-font-size: 1em;
}