/* Default selected color */
.list-cell {
	-fx-accent: rgb(146, 191, 221);
}
.opcode-wrapper {
	/* top, right, bottom, left */
	/* This is another hack... You can't easily 
	   style list-cells since they are recycled.
	   So for opcode highlighting, thats really bad.
	   This just expands the HBox wrapper to fit. */
    -fx-background-insets: -3 -10 -3 -10;
}
.code-fmt * {
	-fx-font-family: Consolas, Courier;
	-fx-border-insets: -1;
	-fx-font-size: 12;
}
/* ========= OPCODE TEXT ======= */
/* The actual opcode */
.op-opcode {
	-fx-text-fill: black;
}
.op-opcode .text{
	/* Why not use bold? Because that changes the
	   cell height. This does not. Hacks! */
	-fx-stroke: black;
	-fx-stroke-width: 0.03em;
}
/* Any in-line type */
.op-type {
	-fx-text-fill: rgb(46, 83, 124);
}
/* Any in-line name */
.op-name {
	-fx-text-fill: rgb(68, 53, 53);
}
/* Any in-line value */
.op-value {
	-fx-text-fill: rgb(114, 80, 36);
}
/* Any in-line string value */
.op-value-string {
	-fx-text-fill: rgb(21, 81, 20);
}
/* In-line hints */
.op-note {
	-fx-text-fill: rgb(99, 99, 99);
}
/* raw-text */
.op-raw {
	-fx-text-fill: black;
}

/* ========== NODES ========= */
/* node containing destination of selected jump */
.op-jumpdest {
	-fx-background-color: rgb(164, 219, 164);
}
/* node containing reference to selected opcode
   ex: jump->label = this is the jump  */
.op-jumpdest-reverse {
	-fx-background-color: rgb(193, 164, 219);
}
/* node containing default location of a jump/switch */
.op-jumpdest-fail {
	-fx-background-color: rgb(255, 158, 158);
}
/* node containing variable opcode that edits the 
   same variable as the selected opcode */
.op-varmatch {
	-fx-background-color: rgb(169, 214, 207);
}
/* node containing opcode that has caused verification
   to fail. */
.op-verif-fail {
	-fx-background-color: rgb(249, 122, 99);
}
/* selected node */
.op-selected {
	-fx-background-color: rgb(146, 191, 221);
}