.root {
	-fx-base: rgb(45, 45, 46);
	-fx-background: rgb(45, 45, 46);
	/* Brighten controls */
	-fx-color: derive(-fx-base, -40%);
	/* Control background */
	-fx-control-inner-background: rgb(46, 46, 47);
	/* Alternative control background (rows) */
	-fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);
	/* Text colors */
	-fx-light-text-color: rgb(220, 220, 220);
	-fx-mid-text-color: rgb(100, 100, 100);
	-fx-dark-text-color: rgb(20, 20, 20);
	/* Accent colors */
	-fx-accent: rgb(51, 51, 52);
	-fx-focus-color: rgb(51, 51, 52);
	/* Non-focused-selected elements */
	-fx-selection-bar-non-focused: rgb(46, 56, 59);
}
* {
	-fx-highlight-fill: rgba(0, 180, 255, 0.4);
}