.box,
.button,
.combo-box,
.slider .thumb {
	-fx-background-radius: 0;
	-fx-background-color: rgb(63, 63, 70);
	-fx-background-insets: 0;
	-fx-border-width: 1;
	-fx-border-color: rgb(85, 85, 85);
}
.rounded-button-left {
    -fx-background-radius: 100 0 0 100;
    -fx-border-radius: 100 0 0 100;
}
.rounded-button-right {
    -fx-background-radius: 0 100 100 0;
    -fx-border-radius: 0 100 100 0;
}
.check-box:hover .box,
.button:hover,
.combo-box:hover,
.slider .thumb:hover {
	-fx-background-color: rgb(80, 80, 85);
	-fx-border-color: rgb(0, 122, 205);
}
.check-box:pressed .box,
.button:pressed,
.combo-box:pressed,
.slider .thumb:pressed {
	-fx-background-color: rgb(0, 122, 205);
	-fx-border-color: rgb(0, 162, 245);
}
.combo-box:showing {
	-fx-background-color: rgb(27, 27, 28);
	-fx-border-color: black black rgb(27, 27, 28) black;
}
.combo-box .combo-box-popup .list-cell {
	-fx-background-color: rgb(27, 27, 28);
}
.combo-box .combo-box-popup .list-cell:hover {
	-fx-background-color: rgb(61, 61, 62);
}
.combo-box .combo-box-popup .list-view {
	-fx-background-color: rgb(27, 27, 28);
	-fx-border-width: 0 1 1 1;
	-fx-border-color: black;
}
.button-container {
    -fx-padding: 12 12 13 12;
    -fx-background-color: rgb(29, 29, 31);
    -fx-border-width: 1 0 0 0;
    -fx-border-color: black;
}
.graphic-button {
	-fx-background-radius: 30;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-border-width: 0;
}