.container-leaf {
    -fx-border-width: 1px;
    -fx-border-color: -color-border-default;
}

.container-branch {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.container-branch > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0 2px 0 2px;
}

.container-branch > .split-pane-divider > .horizontal-grabber {
    -fx-background-color: -color-base-6;
    -fx-padding: 5px 1px 5px 1px;
}

.container-branch > .split-pane-divider > .vertical-grabber {
    -fx-background-color: -color-base-6;
    -fx-padding: 1px 5px 1px 5px;
}

.container-branch > .split-pane-divider:hover {
}

.container-branch > .split-pane-divider:pressed {
}

.container-branch > .split-pane-divider:disabled {
}

.container-branch > .split-pane-divider:hover > .horizontal-grabber,
.container-branch > .split-pane-divider:hover > .vertical-grabber {
    -fx-background-color: -color-accent-emphasis;
}

.container-branch > .split-pane-divider:pressed > .horizontal-grabber,
.container-branch > .split-pane-divider:pressed > .vertical-grabber {
    -fx-background-color: -color-accent-fg;
}

/* HeaderPane */
.header-pane {
}

/* The "x" button on closable headers */
.header-pane .close-button {
    -fx-effect: none;
    -fx-opacity: 0.5;
    -fx-background-insets: 0;
    -fx-background-radius: 50px;
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-padding: 0 2px 0 2px;
}

.header-pane .header:selected .close-button:hover {
    -fx-background-color: -color-bg-subtle;
}

.header-pane .header .close-button:hover {
    -fx-background-color: -color-bg-default;
}

/* The "▼" and "≡" buttons in HeaderView */
.header-pane .corner-button {
    -fx-effect: none;
    -fx-background-insets: 0, 1px;
    -fx-background-radius: 0px;
    -fx-background-color: -color-border-default, -color-bg-overlay;
    -fx-border-width: 0px;
}

.header-pane .corner-button:hover {
    -fx-background-color: -color-border-default, -color-bg-default;
}

.header-pane:top .corner-button {
    -fx-background-insets: 0, 0 0 1px 1px;
}

.header-pane:bottom .corner-button {
    -fx-background-insets: 0, 1px 0 0 1px;
}

.header-pane:left .corner-button {
    -fx-background-insets: 0, 1px 1px 0 0;
}

.header-pane:right .corner-button {
    -fx-background-insets: 0, 1px 0 0 1px;
}

.button-bar {
    -fx-spacing: -1;
    -fx-padding: 0;
}

.button-bar:vertical {
    -fx-fill-height: true;
}

.button-bar:horizontal {
    -fx-fill-width: true;
}

/* HeaderRegion (Wrapper) */
.header-region-wrapper {
}

.header-pane:top .header-region-wrapper {
}

.header-pane:bottom .header-region-wrapper {
}

.header-pane:left .header-region-wrapper {
}

.header-pane:right .header-region-wrapper {
}

/* HeaderRegion */
.header-region {
    -fx-background-color: -color-border-default, -color-bg-overlay;
}

.header-region:top {
    -fx-background-insets: 0, 0 0 1px 0;
}

.header-region:bottom {
    -fx-background-insets: 0, 1px 0 0 0;
}

.header-region:left {
    -fx-background-insets: 0, 0 1px 0 0;
}

.header-region:right {
    -fx-background-insets: 0, 0 0 0 1px;
}

.header-region .node-wrapper {
}

/* Header */
.header {
    -fx-background-color: -color-border-default, -color-bg-overlay;
}

.header:top {
    -fx-background-insets: 0, 0 0 1px 0;
}

.header:bottom {
    -fx-background-insets: 0, 1px 0 0 0;
}

.header:left {
    -fx-background-insets: 0, 0 1px 0 0;
}

.header:right {
    -fx-background-insets: 0, 0 0 0 1px;
}

.header:hover {
    -fx-background-color: -color-border-subtle, -color-bg-subtle;
}

.header-pane .header:selected {
    -fx-background-color: -color-border-default, -color-bg-default;
}

.header-pane:active .header:selected {
    -fx-background-color: -color-accent-4, -color-bg-default;
}

.header:selected:top {
    -fx-background-insets: 0, 0 0 2px 0;
}

.header:selected:bottom {
    -fx-background-insets: 0, 2px 0 0 0;
}

.header:selected:left {
    -fx-background-insets: 0, 0 2px 0 0;
}

.header:selected:right {
    -fx-background-insets: 0, 0 0 0 2px;
}

/* Collapsed */
.container:collapsed .header {
    -fx-background-color: -color-bg-overlay;
}

.container:collapsed .header-pane {
    -fx-background-color: -color-bg-overlay;
}

.container:collapsed .header-region {
    -fx-background-color: -color-bg-overlay;
}

.container:collapsed .corner-button {
    -fx-background-color: -color-bg-overlay;
    -fx-border-width: 0;
}

/* Misc */
.dock-ghost-zone {
    -fx-opacity: 0.3;
}

/* Embedded context */
.embedded-bento .container-leaf {
    -fx-border-width: 0px;
}

.embedded-bento:top > .split-pane-divider {
    -fx-opacity: 1.0;
    -fx-background-color: -color-border-default, -color-bg-default;
    -fx-background-insets: 0, 0 0 1px 0;
}

.embedded-bento:bottom > .split-pane-divider {
    -fx-opacity: 1.0;
    -fx-background-color: -color-border-default, -color-bg-default;
    -fx-background-insets: 0, 1px 0 0 0;
}

.embedded-bento:left > .split-pane-divider {
    -fx-opacity: 1.0;
    -fx-background-color: -color-border-default, -color-bg-default;
    -fx-background-insets: 0, 0 1px 0 0;
}

.embedded-bento:right > .split-pane-divider {
    -fx-opacity: 1.0;
    -fx-background-color: -color-border-default, -color-bg-default;
    -fx-background-insets: 0, 0 0 0 1px;
}

.embedded-bento .header,
.embedded-bento .header:top,
.embedded-bento .header:bottom,
.embedded-bento .header:left,
.embedded-bento .header:right,
.embedded-bento .header-region:top,
.embedded-bento .header-region:bottom,
.embedded-bento .header-region:left,
.embedded-bento .header-region:right,
.embedded-bento .container:collapsed .header,
.embedded-bento .container:collapsed .header-region {
    -fx-background-color: -color-bg-overlay;
    -fx-background-insets: 0;
}