.menu-bar {
    -fx-padding: 0;
	-fx-background-color: rgb(29, 29, 31);
	-fx-background-insets: -1;
}
.menu {
	-fx-padding: 8 20 8 20;
	-fx-background-insets: -1;
}
.menu-item {
	-fx-padding: 10 15 10 15;
	-fx-background-insets: -1;
}
.menu:hover {
	-fx-background-color: rgb(61, 61, 62);
}
.context-menu,
.menu:showing {
	-fx-background-color: rgb(32, 32, 33);
	-fx-border-insets: -1;
	-fx-border-width: 1;
	-fx-border-color: black;
}
.context-menu {
    -fx-padding: 0;
	-fx-min-width: 80px;
	-fx-background-insets: -1;
	-fx-border-insets: -1;
	-fx-border-width: 1;
	-fx-border-color: black;
}
.context-menu .menu-item:focused {
	-fx-background-color: rgb(61, 61, 62);
}
.context-menu-header {
	-fx-opacity: 1.0 !important;
	-fx-background-color: rgb(24, 50, 95) !important;
	-fx-background-insets: -5 -2 0 -2 !important;
}
.context-menu-header .label {
    -fx-opacity: 1.0;
}
.virtualized-menu {
    -fx-border-insets: 0;
	-fx-border-width: 1;
	-fx-border-color: rgb(61, 61, 62);
}
.virtualized-menu-item {
    -fx-padding: 3 5 3 5;
}