.scroll-bar {
	-fx-background-color: rgb(61,61,62);
}
.scroll-bar .thumb {
	-fx-background-color: rgb(91,91,92);
	-fx-background-radius: 0;
}
.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed {
	-fx-background-color: rgb(141,141,142);
}
.scroll-bar .increment-button .increment-arrow,
.scroll-bar .decrement-button .decrement-arrow {
	-fx-background-color: rgb(200,200,200);
}
.corner {
    -fx-background-color: rgb(61,61,62);
}