.table-view {
	-fx-selection-bar: rgb(50, 71, 77);
	-fx-selection-bar-non-focused: rgb(46, 56, 59);
	-fx-background-color: rgb(29, 29, 31);
	-fx-background-insets: -1;
	-fx-background-radius: 0;
	-fx-padding: -1;
	-fx-border-width: 0 1 1 1;
	-fx-border-color: rgb(22, 22, 23);
}
.table-view .filler,
.table-view .show-hide-columns-button,
.column-overlay {
	-fx-background-color: transparent;
}
.column-header-background {
	-fx-background-color: rgb(29, 29, 31);
	-fx-background-insets: 2 -1 -1 -1;
	-fx-padding: -1;
	-fx-border-insets: 0;
	-fx-border-width: 0 1 0 1;
	-fx-border-color: rgb(22, 22, 23);
}
.column-header {
	-fx-background-color: rgb(29, 29, 31);
	-fx-background-insets: -1 -0 -1 0;
	-fx-padding: 2;
	-fx-border-insets: 1 -1 1 0;
	-fx-border-width: 1;
	-fx-border-color: rgb(22, 22, 23);
}
.analysis-table * .table-row-cell {
    /* Make the table cell dividers only visible vertically */
    -fx-background-insets: 0, 0 0 -1 0;
}