.tab-pane {
	-fx-tab-min-width: 100px;
	-fx-tab-max-width: 350px;
	-fx-border-width: 0;
}
.collapsible-tab-pane {
    -fx-tab-min-width: 70px;
    -fx-background-color: rgb(29, 29, 31);
}
.tab-header-area {
    -fx-padding: 0;
}
.tab-pane *.tab-header-background {
	-fx-background-color: rgb(29, 29, 31);
	-fx-border-width: 0 0 1 0;
	-fx-border-color: black;
}
.headers-region {
	-fx-background-color: black;
}
.tab {
	-fx-background-color: rgb(36,36,37);
	-fx-background-insets: 2 -1 -1 -1;
	-fx-background-radius: 0;
	-fx-padding: 2 2 1 2;
	/* Only border on top/right
	   - Top = Glow line
	   - Right = Separator
	*/
	-fx-border-insets: 1 0 0 0;
	-fx-border-width: 1 1 1 0;
	-fx-border-color: rgb(55, 55, 56) black black black;
}
.tab:selected {
    /* Top has blue "glow" line, bottom matches tab color, rest is black */
	-fx-background-color: rgb(45, 45, 46);
	-fx-border-color: rgb(75, 125, 200) black rgb(45, 45, 46) black;
}
.tab:selected .focus-indicator {
	-fx-border-color: transparent;
}
.tab-label {
    -fx-padding: 0 5 0 5;
}
/* Used in the config window */
.horizontal-tab-pane *.tab {
    -fx-pref-width: 60px; /* tab height */
    -fx-padding: 20px;
    -fx-background-insets: 2 -1 -1 -1;
    -fx-border-width: 1 0 1 1;
    -fx-border-color: rgb(55, 55, 56) black black black;
}
.horizontal-tab-pane *.tab:selected {
	-fx-background-color: rgb(45, 45, 46);
	-fx-border-color: rgb(75, 125, 200) black rgb(45, 45, 46) black;
}
.horizontal-tab-pane *.tab-label {
    -fx-font-size: 16px;
}
/* For alignment debugging */
/*
.horizontal-tab-pane *{
    -fx-background-color: rgba(255,255,255,0.1);
}
.horizontal-tab-pane *.tab{
    -fx-background-color: rgba(255,0,0,0.2);
}
.horizontal-tab-pane *.tab-container{
    -fx-background-color: rgba(0,0,255,0.2);
}
.horizontal-tab-pane *.tab-label {
    -fx-background-color: rgba(0,255,0,0.2);
}
*/