.text-area,
.text-field {
    -fx-highlight-fill: rgb(44, 108, 131);
    -fx-background-color: rgb(45, 45, 46);
    -fx-accent: rgb(255, 97, 117);
    -fx-fill: rgb(224, 226, 228);
    -fx-border-width: 1;
    -fx-border-color: rgb(85, 85, 85);
    -fx-tab-size: 4;
}
.paragraph-text {
    /* For RichTextFX */
    -fx-tab-size: 4;
}
.filter-field {
    -fx-border-color: black;
    -fx-border-width: 1 0 0 0;
    -fx-background-color: rgb(32, 32, 33);
    -fx-prompt-text-fill: gray;
}
.key-field:focused {
    -fx-prompt-text-fill: rgb(111, 111, 111);
}
.monospace {
    -fx-font-family: monospace;
}
.faint {
	-fx-text-fill: rgb(134, 134, 135);
}