.tree-table-view,
.tree-view {
	-fx-background-color: rgb(29, 29, 31);
	-fx-background-insets: 0;
	-fx-border-width: 0 1 0 0;
	-fx-border-color: black;
}
.tree-table-cell,
.tree-cell {
	-fx-background-color: rgb(29, 29, 31);
}
.tree-cell:selected {
	-fx-background-color: rgb(44, 48, 55);
}

.workspace-tree {
    /* Match tab color on top, black on bottom */
    -fx-border-width: 1 0 1 0;
    -fx-border-color: rgb(45, 45, 46) black black black;
}
.workspace-overlay {
    -fx-padding: 15;
    -fx-background-color: rgba(0,0,0,0.3);
	-fx-opacity: 0.85;
}