/* Applies common 5px padding to component */
.padded {
    -fx-padding: 5px;
}


/* Fix for TiwulFX relying on Modena values while we use AtlantaFX */
.adjacent-drop {
	-fx-background-color: -color-accent-2;
	-fx-border-color: -color-accent-8;
}

.dark-scroll-pane > .viewport {
   -fx-background-color: -color-bg-inset;
}

/* For the file menu items with nested nodes. We don't want any padding so the whole menu is clickable */
.closable-menu-item {
    -fx-padding: 0;
}

/* AtlantaFX tweaks to split-pane default behavior/style to fit the docking UI style more. */
.split-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 5px;
}
.split-pane > .split-pane-divider,
.split-pane > .split-pane-divider:pressed,
.split-pane > .split-pane-divider:pressed > .horizontal-grabber,
.split-pane > .split-pane-divider:pressed > .vertical-grabber {
    -fx-background-color: transparent;
    -fx-background-insets: 6px;
    -fx-padding: 2px;
}

/* AtlantaFX tweaks */
.dark-combo-box {
    -fx-background-color: -color-border-default, -color-bg-inset;
}

/* AtlantaFX flat-accent buttons do not have clear focus display */
.button.accent.flat:focused {
    -fx-background-color: -color-border-default;
}

/* AtlantaFX tweaks to allow borderless text-fields */
.text-field.accent {
    -fx-background-insets: 0;
    -fx-background-color: -color-input-bg;
}
.text-field.accent:focused {
    -fx-background-color: -color-input-bg;
}

/* Makes text red, typically for error displays */
.error-text {
    -fx-text-fill: red;
}
.warn-text {
    -fx-text-fill: yellow;
}

/* Clearly separates filter from the workspace tree */
.workspace-filter-pane {
    -fx-border-color: -color-border-muted;
    -fx-border-width: 1px 0 0 0;
}
.workspace-filter-text {
    -fx-border-width: 0;
    -fx-background-insets: 0;
}

/* Indicates a class in the workspace tree has been edited */
.modified-class-cell {
    -fx-text-fill: rgb(75, 175, 210);
}

/* Applies background colors */
.background {
    -fx-background-color: -color-bg-default;
}
.background-light {
    -fx-background-color: -color-border-subtle;
}
.background-dark {
    -fx-background-color: -color-bg-overlay !important;
}

/* Tweak the larger titles to not be bold (which looks rather ugly in most cases) */
.title-1 {
    -fx-font-size: 2em;
    -fx-font-weight: normal;
}
.title-2 {
    -fx-font-size: 1.75em;
    -fx-font-weight: normal;
}
.title-3 {
    -fx-font-size: 1.5em;
    -fx-font-weight: normal;
}

/* Rounds the display of a container by its bg/border colors */
.round-container-single {
    -fx-border-radius: 10em;
    -fx-background-radius: 10em;
}
.round-container-multi {
    -fx-border-radius: 1em;
    -fx-background-radius: 1em;
}

/* Visual tweak to tab-pane separator */
.tab-pane {
    -fx-padding: 0px;
    -fx-border-color: -color-border-muted;
    -fx-border-width: 1px;
    -fx-border-insets: 1px; /* removing this causes some issues with our split-pane changes */
}
.tab-pane.floating > .tab-header-area {
    -fx-background-color: -color-border-muted, -color-bg-inset;
    -fx-background-insets: 0, 0 0 1px 0;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -color-accent-4, -color-base-9;
    -fx-background-insets: 0, 0 0 2px 0;
}

/* Custom tab-pane for display in editor views */
.side-tab-pane {
    -fx-background-color: -color-bg-overlay;
    -fx-border-color: -color-base-6;
}
.side-tab-pane:vertical {
    -fx-border-width: 0 0 0 1px;
}
.side-tab-content {
    -fx-background-color: -color-bg-overlay;
    -fx-border-color: -color-base-6;
}
.side-tab-pane:vertical .side-tab-content {
    -fx-border-width: 0 0 0 1px;
}
.side-tab-pane:horizontal .side-tab-content {
    -fx-border-width: 1px 0 0 0;
}
.side-tab-grip {
    -fx-background-color: -color-bg-inset;
    -fx-border-color: -color-base-6;
}
.side-tab-pane:vertical .side-tab-grip {
    -fx-border-width: 0 0 0 1px;
}
.side-tab-pane:horizontal .side-tab-grip {
    -fx-border-width: 1px 0 0 0;
}
.side-tab {
    -fx-background-color: -color-bg-overlay;
}
.side-tab:hover,
.side-tab:selected,
.side-tab:focused {
    -fx-background-color: -color-base-8;
}

/* Used at top of editor control */
.search-bar {
    -fx-background-color: -color-bg-inset;
    -fx-border-color: -color-base-6;
    -fx-border-width: 0 0 1px 0;
}
.search-bar .text-field {
    -fx-border-color: -color-base-6;
    -fx-border-width: 0 1px 0 0;
}
.search-result-list-cell {
    -fx-text-fill: -color-fg-default;
    -fx-padding: 4 4 4 4;
}
.search-result-list-cell:focused,
.search-result-list-cell:hover {
    -fx-background-color: -color-base-7;
}

.variable-table .table-row-cell {
    -fx-cell-size: 24px;
}
.analysis-value-changed {
    -fx-background-color: -color-accent-muted;
}

.transparent-tree {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
}
.transparent-cell {
    -fx-background-color: transparent;
}
.transparent-cell:selected {
    -fx-background-color: rgb(54, 58, 65);
}

/* Removes borders from controls */
.borderless {
    -fx-border-width: 0px;
    -fx-border-insets: 0px;
}
.border-muted {
    -fx-border-color: -color-border-muted;
    -fx-border-width: 1px;
}

.graphic-button {
    -fx-border-width: 0px;
    -fx-background-radius: 5px;
}