* {
    font-family: Arial, sans-serif;
	box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
}
p, li {
	font-size: 16px;
}
b {
	/* Roboto acts odd with font-weight 
	   May just be an issue on my end.
	   Anyways this is a workaround.
	*/
	font-weight: bold;
	/* text-shadow: 0px -1px 1px black; */
}

.inline {
	display: inline-block;
	width: 100px;
	padding:.15em .5em;
    margin:0 1em 0 0;
}
.fr {
	float: right;
	margin: 10px;
	margin-right: 0;
	margin-top: 0;
}
.fl {
	float: left;
	margin: 10px;
	margin-left: 0;
	margin-top: 0;
}
.col {
	display: flex;
	flex-direction: column;
}
.col * {
	margin-bottom: 10px;
}
/* Counter aspect screwery with flex-parents messing up image ratios */
.resetimg {
	max-width: 100%;
	align-self: center;
	flex: 0 0 auto;
}