th:first-child {  
	background-color: rgba(0,0,0,0.1);
	border-right: 1px solid rgba(0,0,0,0.4);
}
.s1 {
	background: rgba(255, 0, 0, 0.1);
}
.s2 {
	background: rgba(255, 255, 0, 0.2);
}
.s3 {
	background: rgba(0, 255, 0, 0.1);
}