/* =========================== */
/*        Content layout       */
/* =========================== */
.side {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: rgb(240, 240, 240);
    width: 200px;
    border-right: 1px solid rgba(111,111,111);
    box-shadow: inset -1px -1px 0px 1px rgb(211, 211, 211); 
}
.side nav {}
/* =========================== */
/*         Text style          */
/* =========================== */
.side ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.side li {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
}
.side li:hover {
    background: rgb(176, 191, 204);
}
.side li hr {
	border: none;
	height: 2;
	margin: 0;
	padding: 0;
	margin-right: 20px;
	background: rgb(144, 144, 144);
}
.side a {
    color: rgb(90, 90, 90);
    text-decoration: none;
}
.side a:hover {
    color: black;
}
/* =========================== */
/*        Mobile scaling       */
/* =========================== */
@media screen and (max-width: 850px) {
    .side {
        visibility: hidden;
    }
}