.pure-menu {
    background: rgb(28, 28, 28);
    border-bottom: 1px solid rgb(66, 66, 66);
    text-shadow: 1px 1px black;
}
.pure-menu:after {
    display: block;
    content: '';
    border-top: 1px solid black;
    width: 100%;
}
.pure-menu-link,
.pure-menu-link:visited {
    padding: 1.35em 1em;
    font-size: 1em;
    text-decoration: none;
	color: rgb(222, 222, 222);
	/* Animate hover bg-color 'glow' */
	-webkit-transition: background 0.2s;
    transition: background 0.2s;
	background: rgba(230,235,255,0);
}
.pure-menu-selected > .pure-menu-link,
.pure-menu-selected > .pure-menu-link:visited {
    color: rgb(145, 197, 242);
}
.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
    background-color: rgb(34, 34, 34);
}
.pure-menu .logo {
    margin-right: 0.4em;
}
.pure-menu-sub-list > li:before {
    padding-left: 1em;
    margin-left: -2em;
    top: 0.25em;
    position: relative;
    display: inline;
    float: left;
    content: '•';
}
.pure-menu-sub-list > .pure-menu-sub-list > li {
    padding-left: 1em;
    margin-left: -2em;
}
@media(max-width: 767px) {
    .pure-menu-link,
    .pure-menu-link:visited {
        padding: 1.35em 0.5em;
    }
}