:root {
    --size-modal: 260px;
}
/* =========================== */
/*         Img in HTML         */
/* =========================== */
.modalImg {
	max-height: var(--size-modal);
	max-width: var(--size-modal);
	cursor: pointer;
	transition: all 0.3s;
}
.modalImg:hover {
	opacity: 0.8;
	box-shadow: 0px 0px 10px rgb(65, 126, 196);
}
/* =========================== */
/*        Modal Popup          */
/* =========================== */
.modal {
	/* Fade-in */
	opacity: 0.05;
	transition: opacity 0.3s;
	/* Top-most whole page */
	position: fixed;
	top: 0px;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	/* child centering */
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal:focus {
	/* Since the entire page is covered,
	 this will be active instantly, triggering
	 the opacity fade-in. */
	opacity: 1;
}
.modal-content img {
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0px 2px 15px 2px black;
}