.code-area .keyword {
    -fx-fill: rgb(0, 175, 255);
}

.code-area .string {
    -fx-fill: rgb(175, 215, 223);
}

.code-area .constant {
	-fx-fill: rgb(125, 215, 215);
}

.code-area .comment-line {
	-fx-fill: rgb(175, 175, 215);
}

.code-area .comment-multi {
    -fx-fill: rgb(155, 155, 215);
}