* {
	font-family: Arial, sans-serif;
}
.code {
	font-family: Courier, monospaced;
	background: rgba(0,0,0,0.1);
	border-style: solid;
	border-width: medium;
	border-color: rgba(0,0,0,0.1);
}
.code * {
	font-family: Courier, monospaced;
}
.indent {
	position: relative;
	padding: 5px;
	margin-left: 25px;
	margin-right: 25px;
}
.h-indent {
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 25px;
	margin-right: 25px;
}